* {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic ProN,Meiryo,MS Gothic;
}
body{
    background-color: black;
}
.stick {
    padding: 5px 0px 5px 0px;
    height: 55px;
    display: grid;
    grid-template-columns: 140px 350px;
    background-color: black;
    color: white;
    align-items: center;
    position: sticky;
    top: 0px;
}

.img {
    display: flex;
}

.img li {
    list-style: none;
    width: 27px;
}

.img li img {
    filter: invert(1);
}

.main {
    grid-column: 1/2;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100px;
    height: 48px;
    padding: 3px;
}

.bgl {
    padding: 2px;
    background-color: #2a2a2a;
    align-items: center;
    border-radius: 100px;
}
.bgl:hover{
    background-color: #424141;
    transform: scale(1.01);
}
#home{
    translate: 9px;
    width: 25px;
}
.logo{
    cursor: pointer;
    transform: translate(10px);
}
.HOME{
    display: flex;
    background-color: #2a2a2a;
    height: 40px !important;
    width: 45px !important;
    border-radius: 35px;
    translate: 20px;
    cursor: pointer;
}
.HOME:hover{
    background-color: #3a3a3a;
    transform: scale(1.05);
}
.sh{
    margin: 10px;
    display: grid;
    grid-template-columns: 0.1fr 1fr 4fr 1fr;
    grid-template-rows: 40px ;
    width: 30vw;
    height: 35px;
    color: #adadad;
}
.searh{
    grid-column: 2/3;
}
.SEARCH{
    grid-column: 2/3;
    justify-self:flex-start;
    cursor: pointer;
}
.SEARCH:hover{
    filter: brightness(2);
    transform: scale(1.05);
}
.Browse {
    grid-column: 4/5;
    justify-self: end;
    transform: translate(-1vw);
    border-left: 1px solid #adadad !important;
    padding-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Browse:hover{
    filter: brightness(2);
    transform: translateX(-1vw) scale(1.02);
}
.Text{
    grid-column: 3/4;
    cursor: text;
    justify-self: flex-start;
    width: 100% !important;
    font-size: large;
    transform: translateX(-2vw);
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 550;
}
.set{
    grid-column: 4/5;
    display: flex;
    justify-content: center;
}
.setting{
    color: #adadad;
    display: flex;
    justify-content: center;
    border-right: 3px solid #adadad;
    gap: 10px;
    width: 400px;
    list-style: none;
    font-weight:800;
    font-size: 14px;
    font-size: large;
    padding-right: 10px ;
}
.setting li{
    cursor: pointer;
}
.setting li:hover{
    color: #e3e3e3;
    transform: scale(1.05);
}
.login{
    grid-column: 4/5;
    display: flex;
    justify-content: end;
    translate: -5vw;
    color: #adadad;
    width: 100%;
}
.logini{
    display: inline-grid;
    grid-template-columns: 0.5fr 0.5fr 1fr 0.2fr 1fr 0.1fr 1fr;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: small;
}
.inslogo{
    grid-column: 2/3;
    width: 15px !important;
    justify-content: flex-end;
    transform: translate(15px, 2px);
    transition: transform 0.3s ease;
    cursor: pointer;
}
.inslogo:hover{
    filter: brightness(2);
    transform: translate(15px, 2px) scale(1.05);
}
.insta{
    grid-column: 5/6;
    width: 100% !important;
    cursor: pointer;
}
.insta:hover{
    transform: scale(1.05);
    color: #e3e3e3;
}
.git{
    grid-column: 7/8;
    width: 140% !important;
    color: black;
    background-color: white;
    border-radius: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
    cursor: pointer;
}
.git:hover{
    background-color: rgb(230, 228, 228);
    transform: scale(1.05);
}
.Linkedin{
    grid-column: 3/4;
    justify-content: flex-start;
    cursor: pointer;
}
.Linkedin:hover{
    color: #e3e3e3;
    transform: scale(1.05);
}
.right {
    width: 75vw;
    background: linear-gradient(180deg, #3e040474 , #a3060670);
    border-radius: 10px;
    height: calc(100vh - 80px);
    display: grid;
    grid-template-rows: 80px 80px auto;
    padding: 0px 20px 0px 20px;
    scroll-behavior: initial;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 2px;
} 
.library{
    grid-row: 1/2;
    color: white;
    display: grid;
    grid-template-columns: 3% 87% 10%;
    margin: 10px;
    padding: 10px;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: larger;
}
.Plus{
    grid-column: 3/4;
    width: 20px;
    cursor: pointer;
    padding: 4px;
}
.Plus:hover{
    filter: brightness(2);
    background-color: #2a2a2a;
    border-radius: 100px;
    transform: scale(1.2);
}
.Lib{
    grid-column: 2/3;
    font-weight:780;
    cursor: context-menu;
    padding: 4px;
}
div h1{
    color: white;
}
.card{
    color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    display: grid;
    grid-template-rows: 200px 40px 60px;
    padding: 10px;
    background: linear-gradient(45deg , rgb(97, 16, 16), #8b0260d4);
    border-radius: 10px;
    position: relative;
    justify-content: center;
    background-blend-mode: darken;
}
.sngimg{
    grid-row: 1/2;
    height: 200px;
    width: 200px;
    object-fit: contain;
    border-radius: 10px;
    z-index: 1;
    position:absolute;
    justify-self: center;
}
.card h3{
    grid-row: 2/3;
    align-self: center;
}
.card p{
    grid-row: 3/4;
    align-self: center;
}
.trend{
    grid-row: 2/3;
}
.trending{
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 25px;
    width: 100%;
}
.trendsongs{
    cursor: pointer;
}
.trendsongs:hover{
    filter: brightness(1.15);
}
.play{
    background: linear-gradient(0deg, #238507 2% , #00ff2f);
    grid-row: 1/2;
    width: 23px;
    display: flex;
    justify-self: end;
    align-self: end;
    position: relative;
    z-index: 2;
    padding: 18px;
    border-radius: 100px;
    opacity: 0;
}
@keyframes playbuttonIn {
    from {
      transform: translateY(60px);
      opacity: 0;
    }
    to {
        transform: translateY(-5px);
        opacity: 1;
    }
}

@keyframes playbuttonOut {
    from {
      transform: translateY(-5px);
      opacity: 1;
    }
    to {
        transform: translateY(60px);
      opacity: 0;
    }
}
  .play {
    animation: playbuttonOut 0.6s ease-in-out forwards;
}

.trendsongs:hover .play {
    animation: playbuttonIn 0.2s ease-in-out forwards;
  }
  
.search-input {
    background: none;
    border: none;
    color: #adadad;
    font-size: inherit;
    font-weight: inherit;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-input::placeholder {
    color: #adadad;
}
.playsong{
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 2; 
    width: 75%;
    height: 80px;
    background: linear-gradient(14deg, #2fff00de, #d86790d3);
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-rows: 20% auto;
    grid-template-columns: 30% auto auto auto 30%;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius:10px;
    transform: translateX(33%);
    filter:drop-shadow(8);
}

.playsong .info {
    grid-row: 2/4;
    font-size: larger;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-self: center;
    align-self: center;
}

.playsong button {
    grid-row: 2/4;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
}

.playsong button img {
    width: 30px;
    height: 30px;
}
    
.left {
    width: 25vw;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50px auto;
    height: calc(100vh - 80px);
    background: linear-gradient(0deg, #15410ba1 , #3a0404ac);
    overflow-y: scroll;
}
.left ul{
    color: white;
    padding: 4% 3% 0% 10%
}
.left ul li{
    list-style: none;
    margin-top: 4%;
    cursor: pointer;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 10px 0px;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    justify-content: center;
    align-items: center;
    font-weight:400;
    font-size: 14px;
    font-size: large;
    background: linear-gradient(0deg, #1b77064a , #91030377);
}
.music{
    grid-column: 1/2 !important;
}
.left ul li img{
    grid-column: 3/4;
}
.img ul li p{
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
}
.left ul li:hover{
    transform: scale(1.02);
}
.left ul li img:hover{
    transform: scale(1.2);
}
.seekbar{
    height: 3px;
    grid-row: 1/2;
    grid-column: 1/6;
    background-color: #000000;
    border-radius: 10px;
    cursor: pointer;
}
.fill{
    width: 0%;
    height: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: width 0.6s;
    cursor: pointer;
}
.timebar{
    font-weight: 600;
    font-size: medium;
    grid-row: 2/4;
    grid-column: 5/6;
    display: flex;
    justify-content: center;
    align-items: center;
}